### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.jupyter
.ipynb_checkpoints
.ipython
.local
.cache
.config

# Environments
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Log ###
*.log
